@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: white;
}
.container{
    border: none;
    padding: 40px 25px;
    background-color: lightpink;
    /* width: 700px;
    height: 800px; */
    
}

.first{
    border-right: 3px solid black;
    
}
.second{
    border-top: 3px solid black;
    padding-top: 10px;
    
}

/* dd{
    line-height: 0.3rem;
    color: navy;
} */
.profile{
   color: navy;
   padding-top: 1.0rem;
   font-size: 2.2rem;
} 
 .profile1{
    font-size: 0.8rem;
    line-height: 0.3r;
    color: navy;
 }

i{
    color: navy;
}

.heading{
    font-size: 0.8rem;
    text-align: center;
    padding-top: 10px;
    color: navy;
}

.text{
    line-height: 0.8rem;
    font-size: 0.8rem;
    color: navy;
}

.text1{
    line-height: 0.9rem;
    font-size: 0.8rem;
    color: navy;
}
.col-div-6{
    width: 50%;
    float: left;
    padding: 0.4rem;
}

.clearfix{
    clear: both;
}

.circle{
    font-size: 13px;
}

.p2{
    font-size: 0.8rem;
}

@media only screen and (max-width: 1000px) {
    .profile{
        color: navy;
        padding-top: 1.0rem;
        font-size: 1.5rem;
     }    
     .text{
        line-height: 0.8rem;
        font-size: 0.7rem;
        color: navy;
    }

    .col-div-6{
        width: 50%;
        float: left;
        padding: 0.4rem;
    }
    
    .clearfix{
        clear: both;
    }
    
    .circle{
        font-size: 8px;
    }

}
@media only screen and (max-width: 600px) {
    .container{
        border: none;
        width: 200px;
        height: 300px;
        background-color: lightpink;
}
}
